<!-- h tags -->
<h1>This is h1</h1>
<h2>This is h2</h2>
<h3>This is h3</h3>
<h6>This is h6</h6>

<!-- Paragraph -->
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
<p>This is italic <i>Paragraph</i></p>
<p>This is italic <strong>Paragraph</strong></p>
<p>This is italic <del>Paragraph</del></p>
<p>This is italic <sub>Paragraph</sub></p>
<p>This is italic <sup>Paragraph</sup></p>
<h1>H<sub>2</sub>O</h1>

<!-- OL UL -->
<ul>
  <li>item</li>
  <li>item</li>
  <li>item</li>
  <li>item</li>
</ul>

<ol>
  <li>First</li>
  <li>Second</li>
  <li>Third</li>
</ol>

<!-- Image -->
<!--<img src="assets/images/image1.png" alt="This is some kind of animation">-->

<!-- Link -->
<a href="https://google.com">Click</a>
<br>
<br>
<br>
<a href="https://google.com" target="_blank">Google in a new tab</a>

<!-- Tables -->
<h2>Employee profile</h2>
<table>
  <thead>
    <tr>
      <th>
        Person
      </th>
      <th>
        Age
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        Tom
      </td>
      <td>
        30
      </td>
    </tr>
        <tr>
      <td>
        Jerry
      </td>
      <td>
        40
      </td>
    </tr>
        <tr>
      <td>
        Bob
      </td>
      <td>
        30
      </td>
    </tr>
  </tbody>
</table>

<!-- Form -->
<form>
  <label>Name</label>
  <input type="text">
  <br>
  <label>Age</label>
  <input type="number">
  <br>
  <br>
  <label>Gender</label>
  <input type="radio" value="Male" name="gender">
  <label>Male</label>
  <input type="radio" value="Female" name="gender">
  <label>Female</label>
  <input type="reset">
</form>

<span>This is span 1</span>
<span>This is span 2</span>
<span>This is span 3</span>

<!-- Block/Group -->
<div>
  This is a sample div
</div>
<div>
  This is a sample div number 2
</div>

<article>
  <h2>This is the heading of below article </h2>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
</article>

<main>
<section>
<article>
  <h2>This is the heading of below article </h2>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
</article>
<article>
  <h2>This is the heading of below Image </h2>
  <img src="assets/images/image1.png" alt="This is some kind of animation">
</article>
</section>

<mat-tab-group>
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>
</main>

<aside>
  <button (click)="loadUserData()">Load data</button>
</aside>

<footer>
  <span>Trademark or copyright 2020</span>
</footer>


<br>
<br>
<br>
<br>
<br>
<br>

<article class="item-container user-profile">
  <app-user-profile></app-user-profile>
  <div class="user-info">
  <div>
    This is Div 1
  </div>
  <div>
    This is Div 2
  </div>
  <form>
    <label>Username:</label>
    <input type="text">
  </form>
  <button type="submit">Submit the form</button>
  </div>

  <div class="profile">
    <div>
      This is Div 3
    </div>
    <div>
      This is Div 4
    </div>
  </div>
</article>


<br>
<br>
<br>
<br>
<br>
<br>

tabindex
describedBy
aria-label
aria-live




<router-outlet></router-outlet>

