<div class="login-child-container"> Login child component view
  <div style="font-size: 30px;">
    From parent compnent: {{childTitle}}
  </div>

  <button (click)="sendDataToParent()">Pass data to parent</button>

  <div *ngIf="isVisible" style="margin-bottom: 30px">
    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English
  </div>
</div>
